//layout container
.midas-container {
    max-width: 120rem;
    margin: 4rem auto;
    background-color: $dash-grey-light2;
    box-shadow: $boxshadow;
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $border-line;
    display: flex;
    justify-content: space-between; //aligns header components among the main axis
    align-items: center; // aligns header components along the cross axis
}

.midas-content {
    display: flex;
}

.sidebar {
    background-color: $grey-dark1;
    flex: 0 0 18%; //short cut for flex basis for setting with 1st param -grow,second shrink, width
    //pushing the legal text to the bottom
    display: flex; //making it a flex container
    flex-direction: column; //used to the change the direction of the main axis from left to right To top to bottom
    justify-content: space-between;
}
.midas-view {
    background-color: #fff;
    flex: 1; //grow the element to fill the available space for it
}

.detail {
    font-size: 1.4rem;
    display: flex; //ensures that items are displayed side by side
    padding: 4.5rem;
    background-color: $dash-grey-light1;
    border-bottom: $border-line;
}

.description {
    background-color: #fff;
    box-shadow: $shadow-light;
    padding: 3rem;
    flex: 0 0 60%; //occupies 60% of the available width
    margin-right: 4.5rem;
}
.user-reviews {
    flex: 1; //occupies the remaining space

    //change the display to center the reviews button
    display: flex;
    flex-direction: column;
    align-items: center;
}
